{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}
    公开课列表
{% endblock %}
{% block middle %}
    <div class="middle">
        <div class="wp">
            <a href="{% url 'index' %}"><img class="fl" src="{% static 'images/logo1.png' %}"/></a>
            <div class="searchbox fr">
                <div class="selectContainer fl">
                    <span class="selectOption" id="jsSelectOption" data-value="course">
                        公开课
                    </span>
                    <ul class="selectMenu" id="jsSelectMenu">
                        <li data-value="course">公开课</li>
                        <li data-value="org">课程机构</li>
                        <li data-value="teacher">授课老师</li>
                    </ul>
                </div>
                <input id="search_keywords" class="fl" type="text" value="" placeholder="请输入搜索内容"/>
                <img class="search_btn fr" id="jsSearchBtn" src="{% static 'images/search_btn.png' %}"/>
            </div>
        </div>
    </div>
    <nav>
        <div class="nav">
            <div class="wp">
                <ul>
                    <li><a href="{% url 'index' %}">首页</a></li>
                    <li class="active">
                        <a href="{% url 'courses:course_list' %}?hot=course">公开课<img class="hot" src="{% static 'images/nav_hot.png' %}">
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'orgs:teachers_list' %}?hot=teacher">授课教师</a>
                    </li>
                    <li><a href="{% url 'orgs:orgs_list' %}?hot=org">授课机构</a></li>
                </ul>
            </div>
        </div>
    </nav>
{% endblock %}
{% block content %}
    <section>
        <div class="wp">
            <ul  class="crumbs">
                <li><a href="{% url 'index' %}">首页</a>></li>
                <li>公开课</li>
            </ul>
        </div>
    </section>

    <section>
	<div class="wp">
		<div class="list" style="margin-top:0;">
			<div class="left layout">
				<div class="head">
					<ul class="tab_header">
						<li {% ifequal sort '' %}class="active"{% endifequal %}><a href="?sort=">最新</a></li>
						<li {% ifequal sort 'hot' %}class="active"{% endifequal %}><a href=?sort=hot">最热门</a></li>
						<li {% ifequal sort 'students' %}class="active"{% endifequal %}><a href="?sort=students">参与人数</a></li>
					</ul>
				</div>
                <div id="inWindow">
                    <div class="tab_cont " id="content">
					<div class="group_list">
                        {% for course in page_list %}
                            <div class="box">
                                <a href="{% url 'courses:course_detail' course.id %}">
                                    <img width="280" height="350" class="scrollLoading" src="{{ MEDIA_URL }}{{ course.image }}"/>
                                </a>
                                <div class="des">
                                    <a href="{% url 'courses:course_detail' course.id %}">
                                        <h2>{{ course.name }}</h2>
                                    </a>
                                    <span class="fl">时长：<i class="key">{{ course.study_time }}</i></span>
                                    <span class="fr">学习人数：{{ course.stunum }}&nbsp;&nbsp;</span>
                                </div>
                                <div class="bottom">
                                    <a href="{% url 'courses:course_detail' course.id %}"><span class="fl">{{ course.orginfo.name }}</span></a>
                                    <span class="star fr  notlogin
                                        " data-favid="15">
                                        {{ course.love_num }}
                                    </span>
                                </div>
                            </div>
                        {% endfor %}

					</div>
                    <div class="pageturn">
                        <ul class="pagelist">
                            {% if page_list.has_previous %}
                                <li class="long"><a href="?page={{ page_list.previous_page_number }}?sort={{ sort }}">上一页</a></li>
                            {% else %}
                                <li class="long"><a href="?page=1?sort={{ sort }}">上一页</a></li>
                            {% endif %}

                            {% for i in page_list.count %}
                                <li {% ifequal i page_list.number %}class="active"{% endifequal %}><a href="?page={{ i }}?sort={{ sort }}">{{ i }}</a></li>
                            {% endfor %}

                            {% if page_list.has_next %}
                                <li class="long"><a href="?page={{ page_list.next_page_number }}?sort={{ sort }}">下一页</a></li>
                            {% else %}
                                <li class="long"><a href="?page={{ page_list.paginator.num_pages }}?sort={{ sort }}">下一页</a></li>
                            {% endif %}

                        </ul>
                    </div>
				</div>
                </div>
			</div>
			<div class="right layout">
				<div class="head">热门课程推荐</div>
				<div class="group_recommend">
                    {% for love in love_list %}
                        <dl>
                            <dt>
                                <a target="_blank" href="{% url 'courses:course_detail' love.id %}">
                                    <img width="240" height="220" class="scrollLoading" src="{{ MEDIA_URL }}{{ love.image }}"/>
                                </a>
                            </dt>
                            <dd>
                                <a target="_blank" href="{% url 'courses:course_detail' love.id %}"><h2>{{ love.name }}</h2></a>
                                <span class="fl">难度：<i class="key">{{ love.level }}</i></span>
                            </dd>
                        </dl>
                    {% endfor %}
				</div>
			</div>
		</div>
	</div>
</section>
{% endblock %}
